/* Merriweather font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* System font for tilde character - CMU Serif has misaligned tilde */
@font-face {
  font-family: "CMU Serif";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: local("Georgia"), local("Times New Roman"), local("serif");
  unicode-range: U+007E; /* Tilde ~ */
}

/* Computer Modern Serif font - Self-hosted for performance */
@font-face {
  font-family: "CMU Serif";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/cmu-serif-500-roman.woff2") format("woff2");
}

@font-face {
  font-family: "CMU Serif";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/cmu-serif-500-italic.woff2") format("woff2");
}

@font-face {
  font-family: "CMU Serif";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/cmu-serif-700-roman.woff2") format("woff2");
}

@font-face {
  font-family: "CMU Serif";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/cmu-serif-700-italic.woff2") format("woff2");
}
