/* Computer Modern Serif font - Self-hosted for performance */
@font-face {
  font-family: "CMU Serif";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/cmu-serif-500-roman.woff2") format("woff2");
}

@font-face {
  font-family: "CMU Serif";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/cmu-serif-500-italic.woff2") format("woff2");
}

@font-face {
  font-family: "CMU Serif";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/cmu-serif-700-roman.woff2") format("woff2");
}

@font-face {
  font-family: "CMU Serif";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/cmu-serif-700-italic.woff2") format("woff2");
}
